body {
  padding: 120px 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.title {
  padding-bottom: 15px;
}

h2 {
  padding-top: 15px;
  padding-bottom: 10px:
}

/*Pictures*/
#schema {
  height: 200px;
}

.tasks {
  height: 200px;
  margin: 5px 20px;
}

.link {
  color: #125F60;
}

.button {
  padding-top: 10px;
}

/*cards*/
.card-case-study {
  margin: 20px 0;
  padding: 10px;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.casestudy-directory {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0px;
  /*color: #125F60;*/
}

.container {
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 40px;
  padding-left: 300px;
  padding-right: 300px;
  max-width: 600px;
  width: 500px;
  margin: 0 auto;
}

.card-portfolio-top {
  display: flex;
  margin: 20px 0;
  padding: 10px;
}

.card-portfolio {
  display: flex;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 10px;
}

.card-portfolio-text {
  padding: 0 18px 18px;
}

/*images*/
.trello img {
  height: 100px;
}

#profile-pic {
    background-position: center;
    background-size: cover;
    height:125px;
    border-radius: 50%;
 }

#le-wagon-picture {
  height: 20px;
  opacity: 40%;
}

#le-wagon-picture:hover {
  opacity: 100%;
}


#elderme-pic, #calculator-pic, #flashcard-pic {
  background-position: center;
  padding-top: 5px;
  height: 200px;
  width: 250px;
  background-size: cover;
 }

.study-pic {
  height: 150px;
}

.study-pic:hover {
  height:300px;
}

.roadmap {
  height: 150px;
}


/**/
.coming-soon {
  text-align: center;
  width: 275px;
 }

#intro {
  padding: 20px 0;
}

.project {
  padding: 20px 0;
}

.project-container {
  display: grid;
}


/*contact icons*/
.list-inline-item {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 10px;
  font-size: 25px;
  content: "\f09b";
  opacity: 30%;
}

.list-inline-item:hover {
  opacity: 100%;
}

.fa-github{
  color: black;
}

.fa-linked-in {
  color: blue;
}

.fa-gitlab {
  color: orange;
}

.fa-envelope {
  color: red;
}

.contact {
  display: flex;
  justify-content: center;
}

/*buttons*/
.btn-project {
  background-color: #c8e4d894;
  border-radius: 5px;
  padding: 10px 20px;
  color: #125F60;
  font-weight: bold;
  text-decoration: none;
  border: none;
}

.btn-project:hover {
  background-color: #c0dacf;
  color: #125F60;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: center;
  font-size: 10px;
  /*text-align: center !important;*/
}

.icon-footer {
  font-size: 20px;
  display: flex;
  justify-content: center;
}
